# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
build/
dist/
*.egg-info/
UNKNOWN.egg-info/

# Virtual envs
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local runtime data
.zocket/
*.log
